@import url('https://fonts.googleapis.com/css?family=Monoton;100,200,300,400,500,600,700|Prata: 100,200,300,400,500,600,700|Bungee+Inline:100,200,300,400,500,600,700|Roboto: 100,200,300,400,500,600,700|Bungee: 100,200,300,400,500,600,700|Roboto+Condensed|Prata');

body {
    background-image: url("/assets/images/white-wavesbg.png");
    background-repeat: cover;
}

/* -----------------------------------NAV BAR*/

/*----------------------------------HEADER */

.header-text {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
    padding-bottom: 300px;
}

h1 {
    font-size: 7em !important;
    font-family: "Bungee Inline", cursive, sans-serif;
    color: #001a33;

}

.newalbum-info {
    font-size: 2em;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 100;
    color: #001a33;
}

.text-center {
    text-align: center;
}

.social-list {
    list-style: none;
}

.social-list li {
    display: inline;
    padding: 10px;
    font-size: 1.5em;

}

.social-list li a {
    color: #000;
}

.social-list li a:hover {
    color:  #b3daff;
}


/*----------------------------------TOURS */

.tour-updates {
    width: 100%;
    background-color: #cce6ff;
}


.tours-heading {
    color: #001a33;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: "Bungee", sans-serif;
    font-size: 3em;
    
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    font-family: "Roboto Condensed", sans-serif;
    position: relative;
    color: #001a33;
    border-left: 1px solid;
    
}

.timeline-item p {
    padding-bottom: 25px; 
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';    
    background: #fafafa;
    
}

.tour-items {
    margin-bottom: 30px;
}

.tourImages {
    padding-top: 80px;
    
}

.tour-image{
    margin-top: 40px;
    margin-bottom: 80px;
}
.tour-image img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}


/*----------------------------------MUSIC */


.music-video {
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-top: 300px;
    padding-bottom: 300px;
    display: block;
}

