@import url('https://fonts.googleapis.com/css?family=Bungee+Inline:100,200,300,400,500,600,700|Roboto: 100,200,300,400,500,600,700|Bungee: 100,200,300,400,500,600,700|Roboto+Condensed');

body {
    background-image: url("images/white-wavesbg.png");
    background-repeat: cover center;
    background-attachment: scroll;
}


/*
.scrolling-sections {
    z-index: 2;
    position: absolute;
    width: 100%;
}
*/

/* --------------------------------------------------------------------NAV BAR*/

#navBarAll {
    background-color: rgba(131, 137, 127, 0.15);
}

.navbar-brand {
    font-family: "Bungee Inline", sans-serif;
    color: #001a33;
}

.navbar-collapse {
    font-family: "Bungee", sans-serif;
    color: #001a33;

}

.nav-item {
    color: #001a33;
}

.navbar-brand:hover {
    color: #4C708C;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-nav a:hover {
    color: #4C708C;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*---------------------------------------------------------------------HEADER */

/*
#top {
    position: absolute;
    z-index:1; 
    width: 100%;
}
*/



/*
.headerScroll {
    width: 100px;
    text-align: center;
    color: #000;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 10px;
    text-transform: uppercase;
    opacity: .5;
    font-family: "Bungee", sans-serif;
    font-size: 1em;
    letter-spacing: .05rem;
    text-indent: .05rem
}

.headerScroll:after {
    content: ' ';
    display: block;
    -webkit-transform: translateX(49px) translateY(10px);
    -ms-transform: translateX(49px) translateY(10px);
    transform: translateX(49px) translateY(10px);
    width: 2px;
    height: 38px;
    background-color: #fff
}
*/

.auto-height {
    height: 100vh;
}

h1 {
    padding-top: 3em;
    font-size: 3em;
    font-family: "Bungee Inline", cursive, sans-serif;
    color: #001a33;
}

.newalbum-info {
    font-size: 2em;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 100;
    color: #001a33;
    padding-top: 2%;
}

.social-list {
    color: #001a33;
    list-style: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-list li {
    display: inline;
    position: center;
    padding: 10px;
    font-size: 1.5em;
}

.social-list li a {
    color: #001a33;
}

.social-list li a:hover {
    color: #b3daff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-list ul {
    margin-right: 18px;
    height: 30vh;
}


/*----------------------------------------------------------------------TOURS */

.tour-updates {
    width: 100%;
    background-color: #cce6ff;
}

.tours-heading {
    color: #001a33;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: "Bungee", sans-serif;
    font-size: 3em;
    text-align: center;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    font-family: "Roboto Condensed", sans-serif;
    position: relative;
    color: #001a33;
    border-left: 1px solid;
}

.timeline-item p {
    padding-bottom: 25px;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.tour-items {
    margin-bottom: 20px;
}

.tourImages {
    padding-top: 80px;
}

.tour-image {
    margin-top: 40px;
    margin-bottom: 80px;
}

.tour-image img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

/*---------------------------------------------------------------------LISTEN */

.music-features {
    width: 100%
}

.music-heading {
    color: #001a33;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: "Bungee", sans-serif;
    font-size: 3em;
    text-align: center;
}

/*----SONG NAME*/

.music-featurette-heading {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    margin-left: 25px;
    font-size: 3em !important;
    text-align: center;
}

/*----ALBUM NAME*/

.music-lead {
    display: block;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 1em !important;
    margin-left: 25px;
    text-align: center;
}

.embed-responsive-item {
    padding-left: 30px;
}

.music-featurette {
    width: 100%;
    padding-bottom: 3em;
}

.music-features {
    width: 100vh;
    padding-left: 50px;
    position: absolute;
}

.music-divider {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.featurette-divider {
    margin: 5rem 0;
}

/*----------------------------------------------------------------------AUDIO */

.SpotifyContainer {
    text-align: center;
    display: inline-block;
    padding-right: 1em;
    padding-left: 1em;
}

.audio-links {
    margin: 0 auto;
    position: relative;
    background-color: #D7EDCB;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

/*--------------------------------------------------------------------GALLERY */

.bandGallery {
    color: #001a33;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: "Bungee", sans-serif;
    font-size: 3em;
    text-align: center;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel {
    position: relative;
    margin: auto;
    margin-bottom: 4rem;
    width: 100%;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 20rem;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 80%;
    height: 20rem;
}

/*--------------------------------------------------------------------CONTACT */

#ContactBand {
    background-color: #DED8E7;
    padding-bottom: 12em;
}

.bandContact {
    color: #001a33;
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: "Bungee", sans-serif;
    font-size: 3em;
    text-align: center;
}

.contact-heading {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
}

.contact-band {
    font-family: "Roboto Condensed", sans-serif;
}

.center-form {
    padding-top: 10px;
    margin: 0px auto;
    max-width: 70%;
    font-family: "Roboto Condensed", sans-serif;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #001a33;
    font-family: "Roboto Condensed", sans-serif;
    transition: #4C708C .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*----------------------------------------------------------------------FOOTER*/

footer {
    background-color: #001a33;
    color: #fafafa;
}

.footer-heading {
    padding: 1em 2em 0em 2em;
    font-family: "Bungee", sans-serif;
    color: #fafafa;
    text-align: center;
}

.aboutBand {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    padding-bottom: 1em;
}

.footer-details {
    text-align: center;
    padding-bottom: 1em;
}


.social-links {
    list-style: none;
    text-align: center;
}

.social-links li {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1.5em;
}

.social-links a {
    display: inline-block;
    color: #fff;
}

.social-links li a:hover {
    color: #627A8E;
}

.social-links li a i {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*----------------------------------------------------------STYLING FOR TABLET*/

@media (min-width: 991px) {
    .header-text {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 7em !important;
        padding-top: 5em;
    }
    
    .social-list ul {
        margin-right: 18px;
        height: 20vh;
    }

    .navbar {
        font-size: 1.5em;
    }

    .navbar a {
        float: left;
    }

    .navbar-toggler {
        color: #fff;
    }

    .music-heading {
        color: #001a33;
        margin-bottom: 50px;
        margin-top: 50px;
        font-family: "Bungee", sans-serif;
        font-size: 3em;
        text-align: center;
    }

    .tours-heading {
        color: #001a33;
        margin-bottom: 50px;
        margin-top: 50px;
        font-family: "Bungee", sans-serif;
        font-size: 3em;
        padding-left: 50px;
    }

    .music-featurette {
        vertical-align: middle;
        font-family: "Roboto Condensed", sans-serif;
        margin-left: 25px;
        text-align: center;
    }

    .music-lead {
        display: block;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 500;
        font-size: 1em;
        margin-left: 25px;
        padding-left: 35px;
        text-align: center;
    }

    .embed-responsive-item {
        width: 100vw;
    }

    .carousel-inner {
        position: relative;
        width: 450px;
        height: 100%;
        margin: auto;
    }

    .carousel {
        position: relative;
        margin: auto;
        margin-bottom: 10em;
        width: 500px;
    }


    .social-links {
        list-style: none;
        text-align: center;
    }

    .social-links li {
        display: inline-block;
        font-size: 1em;
        list-style: none;
    }
}

/*-----------------------------------------------------STYLING FOR DESKTOP*/

@media (min-width: 992px) {
    .header-text {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2em;
        text-align: center;
    }

    h1 {
        padding-top: 1.5em;
    }

    #main-title {
        font-size: 7em !important;
        font-family: "Bungee Inline", cursive, sans-serif;
        color: #001a33;
    }

    .nav-item {
        font-size: .8em;
    }

    .tour-updates {
        background-color: #cce6ff;
        margin: 0 auto;
        position: relative;
    }

    .music-heading {
        color: #001a33;
        margin-bottom: 50px;
        margin-top: 50px;
        font-family: "Bungee", sans-serif;
        font-size: 3em;
        text-align: center;
    }

    .music-featurette-heading {
        padding-top: 1em;
        font-family: "Roboto Condensed", sans-serif;
        margin-left: 25px;
        text-align: center;
    }
    .music-lead {
        display: block;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 500;
        font-size: 1em;
        text-align: center;
    }

    .audio-links {
        margin: 0 auto;
        position: relative;
        padding: 2em 1em 2em 1em;
    }

    .tours-heading {
        color: #001a33;
        margin-bottom: 50px;
        margin-top: 50px;
        font-family: "Bungee", sans-serif;
        font-size: 3em;
        padding-left: 50px;
    }

    .carousel-inner {
        position: relative;
        width: 450px;
        height: 100%;
        margin: auto;
    }

    .carousel {
        position: relative;
        margin: auto;
        margin-bottom: 10em;
        width: 500px;
    }

    #ContactBand {
        padding-bottom: 18.2em;
    }

    .social-links {
        list-style: none;
        text-align: center;
    }

    .social-links li {
        display: inline;
        font-size: 1em;
    }

    .socialfooter-heading {
        padding: 1em 1em 0em 0em;
    }
}


/*----------------------------------MEDIA QUERIES FOR CAROUSEL FROM BOOTSTRAP LIBRARY */

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }


    .carousel-inner {
        width: 50%;
        height: 100%;
        text-align: center;
    }

    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin: auto;
    }
}
